@import url('https://fonts.googleapis.com/css?family=Nunito:200,400&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font: normal 16px Nunito, sans-serif;
  font-weight: 200;
  color: #000;
}

p {
  font-size: 1.15rem;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #000;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 90px 120px;
}

/* header styles */
header {
  position: fixed;
  width: 100%;
  background-color: #f6e8e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  z-index: 2;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-size: 0.83rem;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
  font-size: 0.77rem;
}

@media (max-width: 900px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/* intro styles*/
.intro {
  background-color: #f6e8e5;
  justify-content: left;
  text-align: left;
  min-height: 70vh;
}

.intro div {
  max-width: 900px;
  padding: 110px 80px;
}

.intro h1 {
  font-size: 2.1rem;
  padding-bottom: 20px;
}

.fa-angle-down {
  font-size: 4rem;
  padding-left: 80px;
}