@import url('https://fonts.googleapis.com/css?family=Nunito:200,400&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font: normal 16px Nunito, sans-serif;
  font-weight: 200;
  color: #000;
}

p {
  font-size: 0.98rem;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  /* opacity: 0.75; */
  color: #000;
  cursor: pointer;
}

/* a:hover {
  opacity: 1;
  text-decoration: underline;
} */

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 90px 120px; */
}

/* header styles */
header {
  position: fixed;
  width: 100%;
  background-color: #f6e8e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  z-index: 2;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-size: 0.83rem;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  display: inline;
  margin: 0 15px;
  font-size: 0.77rem;
}

@media (max-width: 900px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }
}

/* intro styles*/
.intro {
  background-color: #f6e8e5;
  justify-content: left;
  text-align: left;
  min-height: 60vh;
  padding: 30px 120px;
}

.intro div {
  opacity: 0;
  max-width: 850px;
  padding: 110px 80px;
  animation: 1.25s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.intro h1 {
  font-size: 2.3rem;
  padding-bottom: 20px;
}

.intro p {
  font-size: 0.98rem;
}

.fa-angle-down {
  font-size: 4rem;
  padding-left: 80px;
}

@media (max-width: 900px) {
  .intro {
    padding: 20px 0;
    flex-direction: column;
  }

  .intro div {
    padding: 110px 60px;
  }

  .intro h1 {
    font-size: 1.57rem;
    margin-bottom: 10px;
  }
}

/*portfolio styles*/
#portfolio h3 {
  font-size: 1.75rem;
  padding-bottom: 20px;
}

#portfolio p {
  width: 50%;
  padding-bottom: 20px;
}

.portfolio-1, .portfolio-2, .portfolio-3, .portfolio-4 {
  padding: 90px 120px;
  width: 100%;
  background-size: cover;
  height: 70vh;
}

.portfolio-1 {
  background-image: url('img/bookmark.png');
}

.portfolio-2 {
  /* background-color: #f6e8e5; */
  background-image: url('img/insure-gray.png');
}

.portfolio-3 {
  background-image: url('img/manage.png');
}

.portfolio-4 {
  /* background-color: #f6e8e5; */
  background-image: url('img/fylo-gray.png');
}

.portfolio-1 .btn, .portfolio-2 .btn, .portfolio-3 .btn, .portfolio-4 .btn {
  -webkit-font-smoothing: antialiased;
  border: none;
  background-color: #f6e8e5;
  color: #333;
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: .2rem;
}

.portfolio-1 .btn:hover, .portfolio-2 .btn:hover, .portfolio-3 .btn:hover, .portfolio-4 .btn:hover {
  background-color: #333;
  color: #fff;
}

a.btn {
  margin-right: 1em;
}

.buttons {
  padding-top: 20px;
}

@media (max-width: 900px) {
  .portfolio-1, .portfolio-2, .portfolio-3, .portfolio-4 {
    padding: 80px 30px 0 30px;
    width: 100%;
    height: 60vh;
  }

  #portfolio p {
    width: 65%;
    padding-bottom: 15px;
  }
}

@media (max-width: 600px) {
  #portfolio p {
    width: 400px;
    margin-right: 20px;
    padding-bottom: 15px;
  }
}

/* services styles*/
#services h2 {
  margin: 0 auto;
  font-size: 1.75rem;
  padding: 70px 0 20px;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid > * {
  transition: flex-basis 0.5s;
} 

#services .grid li {
  padding: 60px 80px 80px;
  flex-basis: 50%;
  text-align: center;
}

#services .grid li i {
  color: #f6e8e5;
}

#services .grid li h3 {
  font-size: 1.25rem;
  margin: 25px 0;
}

@media (max-width: 800px) {
  #services .grid li {
    flex-basis: 100%;
    padding: 50px 20px;
  }
}

/*about styles*/
#about {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 200px;
}

#about h2 {
  font-size: 1.75rem;
  padding-bottom: 20px;
}

.pic-profile {
  border-radius: 50%;
  margin: 20px 0 50px;
}

.about-me {
  text-align: center;
  width: 65%;
}

@media (max-width: 800px) {
  #about {
    padding: 50px;
  }

  .about-me {
    width: 100%;
    flex-direction: row;
  }
}

/* footer styles */
footer {
  position: relative;
  background-color: #333;
  color: #fff;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 110px 40px 100px;
}

footer p {
  font-size: 0.87rem;
}

footer a {
  color: #fff;
  opacity: 1;
}

.fa-github, .fa-linkedin {
  padding-left: 5px;
}

.fa-angle-up {
  position: absolute;
  bottom: 37%;
  right: 20px;
  font-size: 2rem;
}

.coffee {
  width: fit-content;
  padding-left: 5px;
  vertical-align: middle;
}

/* .pic-footer {
  padding-right: 5px;
  vertical-align: middle;
  border-radius: 50%;
} */

@media (max-width: 900px) {
  footer div {
    padding: 20px 80px;
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: 10px;
  }
}